


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-red-500">Customers</h1>

    <%= link_to new_customer_path, class: button_class(theme: "primary") do %>
    Add New Customer
    <% end %>
  </div>

<table class="table-auto border-collapse border-black w-full">
  <thead class="bg-red-600 bg-red-600">
      <tr>
        
          <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Name</th>
        
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Gender</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Email</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Phone number</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Adress</th>
                <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
      <%= content_tag :tr, id: dom_id(customer), class: dom_class(customer) do %>
      
        <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= link_to customer.name, customer %></td>
      

              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= customer.gender %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= customer.email %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= customer.phone_number %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= customer.adress %></td>
      <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= link_to 'Show', customer %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
