


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-red-500">Orders</h1>

    <%= link_to new_order_path, class: button_class(theme: "primary") do %>
    Add New Order
    <% end %>
  </div>

   <table class="table-auto border-collapse border-black w-full">
  <thead class="bg-red-600 bg-red-600">
      <tr>
        
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Customer</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Order date</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Total price</th>
                
          <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <%= content_tag :tr, id: dom_id(order), class: dom_class(order) do %>
      

              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order.customer.name %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order.order_date %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order.total_price %></td>
      
      
        <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= link_to 'Show', order %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
