


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-red-500">Order_items</h1>

    <%= link_to new_order_item_path, class: button_class(theme: "primary") do %>
    Add New Order item
    <% end %>
  </div>

  <table class="table-auto border-collapse border-black w-full">
  <thead class="bg-red-600 bg-red-600">
      <tr>
        
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Order</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Product</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Quantity</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left">Unit price</th>
                
          <th class="border-2 border-black dark:border-black font-semibold p-4 text-white text-left"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @order_items.each do |order_item| %>
      <%= content_tag :tr, id: dom_id(order_item), class: dom_class(order_item) do %>
      

              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order_item.order.order_date %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order_item.product.name %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order_item.quantity %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= order_item.unit_price %></td>
      
      
        <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= link_to 'Show', order_item %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
